*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(rgb(109, 7, 122),rgb(31, 1, 28));
    height:100vh;
}
header{
    position: fixed;
    top:-20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
header h1{
    transform: translate(100px,40px);
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header ul{
    display: flex;
    margin-top: 50px;
    margin-right: 80px;
    list-style: none;
}
header ul li{
   margin: 0px 40px;
}
header ul li a{
    text-decoration: none;
    color: white;
    transition: 0.8s;
}
header ul li a:hover,.home{
    text-decoration: underline;
    color: black;
    background: rgb(172, 157, 168);
    padding: 10px 20px;
    border-radius:30px;
    box-shadow: 0 0 12px rgb(172, 157, 168),
                0 0 12px rgb(172, 157, 168);
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    z-index: -2;
    transition: 0.5s;
}
#star{
    position: absolute;
    top:-100px;
    z-index: -3;
    transition: 0.5s;
}
.moon-light{
    position: relative;
    transform: translateY(110px) translateX(400px);
    color: white;
    font-size: 3em;
    font-family:algerian;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s;
}
#mountain-behind{
    z-index: -1;
    transition: 0.5s;
}
#mountain-front{
    z-index: 5;
}
#button{
   position: absolute;
   transform: translate(10px,500px);
   padding: 12px 30px;
   border-radius: 20px;
   border-color: white;
   text-transform:initial;
   font-weight: bold;
   transition: 0.8s;
   z-index: 3;
    box-shadow: 0 0 12px white,
               0 0 22px white,
               0 0 50px white;
    letter-spacing: 2px;
}
#grass{
    z-index: 100;
    pointer-events: none;
}
div{
    background: #000a0f;
}
div h1{
    color: white;
    letter-spacing: 2px;
}
div p{
    color: gray;
    letter-spacing: 1px;
}
